/* All styling  related to Dashboard */
#eDashboard{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#00217c, #1a52ec);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#eHeader{
    position: relative;
    display: flex;
    width: 100%;
    height: 10%;
    margin: 0;
    justify-content: space-around;
    padding-top: 1%;
}

#eLogo{
    position: relative;
    height: 100%;
    width: 10%;
    background: white;
    margin: 0;
}

#eRoutes{
    position: relative;
    background: white;
    height: 100%;
    width: 80%;
    margin: 0;
}

#eProfile{
    position: relative;
    background: white;
    height: 100%;
    width: 5%;
    margin: 0;
    border-radius: 50%;
}

#eMain{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 90%;
    margin: 0;
    padding: 1%;
    justify-content: space-between;
}

#eSidebar{
    border: 1px solid black;
    position: relative;
    height: 98%;
    width: 8%;
    border-radius: 15px;
    background: white;
}


#eContent{
    border: 1px solid black;
    position: relative;
    height: 98%;
    width: 90%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0);
}

#ePie{
    position: relative;
    height: 50%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.eCategory{
    position: relative;
    width: 43%;
    height: 100%;
    background: rgb(21, 27, 32);
    border-radius: 15px;
}

#eCatTotal{
    position: relative;
    width: 55%;
    height: 100%;
}