#eSub{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#2c0000, #960606);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    
}

#eBasic, #ePremium{
    position: relative;
    height: 80%;
    width: 30%;
    background: white;
    margin-top: 5%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.eTopSub, .eMiddleSub, .eBottomSub{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.eTopSub, .eBottomSub{
    height: 20%;
    justify-content: center;
}

.eMiddleSub{
    height: 50%;
    padding-top: 0%;
}

li, ul, ol, a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

.eButtonSub{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.726);
    border-radius: 10px;
    width: 30%;
    height: 100%;
    text-align: center;
    background-color: aqua;
    padding-top: 2%;
    margin-left: 35%;
    color: #000;
    font-size: large;
    cursor: pointer;
}

.eButtonSub:hover{
    background-color: rgb(16, 150, 16);
    color: white;
}

/*------------ For small screens------------*/
@media only screen and (max-width: 500px) {
    #eSub{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #eBasic, #ePremium{
        position: relative;
        height: 80%;
        width: 70%;
        background: white;
        margin-top: 2%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 1000px) {
    #eSub {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #eBasic,
    #ePremium {
        position: relative;
        height: 80%;
        width: 55%;
        background: white;
        margin-top: 5%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}